* {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}

.card-piles {
  display: flex;
  flex-direction: row;
  flex: 3 100%;
}

.card-pile {
  flex: 1 100%;
  padding: 2em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-pile > * {
  margin-top: 6px;
}

#cardPiles .pile-cards {
  height: 255px;
}

.pile-cards {
  display: flex;
  flex-direction: column-reverse;
}

#discardPile .pile-cards {
  flex-direction: row;
}

.dual-buttons {
  display: flex;
}

.hoki-card {
  background-color: white;
  height: 180px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.hoki-card:not(:first-child) {
  margin-bottom: -165px;
  margin-left: calc(-5px * var(--index));
}

#discardPile .hoki-card:not(:first-child) {
  margin-bottom: 0;
  margin-left: -65px;
}

.hoki-card--face-down .hoki-card__back {
  height: 180px;
  width: 96px;
  background-color: black;
  border: 5px solid white;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoki-card.Red {
  color: red;
}

.hoki-card.Blue {
  color: blue
}

.hoki-card * {
  width: 100%;
  flex: 1;
}

.hoki-card__name {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hoki-card__symbol {
  font-size: 1.5em;
  padding-left: 6px;
}