:root {
  --light-main: #eee;
  --dark-main: #333;
}

* {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
  color: var(--dark-main);

  /* Fancy background */
  background-color: #bababa;
  opacity: 1;
  background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #bababa 14px ), repeating-linear-gradient( #140c0A55, #140c0A );
}

h1 {
  color: var(--light-main);
  text-shadow: 0px 0px 2px #140c0A99;
}

.card-piles {
  display: flex;
  flex-direction: row;
  flex: 3 100%;
}

.card-pile {
  flex: 1 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-pile > * {
  margin-top: 6px;
}

#enchanterPile .pile-cards {
  height: 150px;
}

#cardPiles .pile-cards {
  height: 150px;
  margin-top: 90px;
}

.pile-cards {
  display: flex;
  flex-direction: column;
}

#discardPile .pile-cards {
  flex-direction: row;
}

.dual-buttons {
  display: flex;
}

.soul-card {
  background-color: var(--light-main);
  height: 142px;
  width: 100px;
  box-shadow: 1px 1px 2px #140c0A99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: -158px;
  margin-left: calc(-5px * var(--index));
  z-index: calc(-1 * var(--index));
}

#discardPile .soul-card:not(:first-child) {
  margin-bottom: 0;
  margin-left: -65px;
  z-index: calc(1 * var(--index));
}

.soul-card--face-down .soul-card__back {
  height: 142px;
  width: 96px;
  background-color: var(--dark-main);
  border: 5px solid var(--light-main);
  border-radius: 5px;
  color: var(--light-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.soul-card.Red {
  color: darkred;
}

.soul-card.Blue {
  color: darkblue;
}

.soul-card * {
  width: 100%;
  flex: 1;
}

.soul-card__name {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.soul-card__symbol {
  font-size: 1.5em;
  padding-left: 6px;
}